:root{
  font-size: 12px;
}

html, body {
  height: auto;
}


body{
  padding: 1rem;
  background-color: #f1f1f1;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  counter-reset: section;
  font-family: 'Roboto Mono', monospace !important;
}

div {
  /*border: 1px solid black;*/
  box-sizing: border-box;
}

p{
  margin: 0px;
  padding: 0px;
  word-break: break-all;
}

.App{
  padding: 2rem;
}

.title{
  text-align: left;
  position: absolute;
  top: 20px;
  left: 20px;
  white-space: pre-line;
  color: #333;
}

.right .title{
  text-align: right;
  position: absolute;
  top: 20px;
  right: 20px;
  white-space: pre-line;
}

.command{
  color: #6FCF97;
  padding-top: 1rem;
}

.scrape{
  color: #BDBDBD;
}

.pause{
  color: #BDBDBD;
}

.pause:hover{
  cursor: pointer;
  text-decoration: underline;
}

.status{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 2rem;
}

.working{
  /*align-self: flex-start;*/
  /*width: 100px;*/
}

.printed{
  align-self: flex-end;
  /*width: 100px;*/
}


.itemText{
  width: 100%;
  /*padding-top: 20pt;*/
  background-color: white;
  flex: 0 0 auto;
}

.itemText p {
  text-align: center;
  padding-top: 20px;
  margin: 0;
  font-size: 12px;
  letter-spacing: .3px;
  color: #BDBDBD;
}

.itemText a {
  text-decoration: none;
  margin: 0;
  font-size: 8pt;
  letter-spacing: .3px;
  word-break: break-all;
}

.text{
  height: 5.5in;
}

.image{
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
  width: 100%;
  justify-content: center;
}

img{
  max-width: 90%;
  max-height: 80%;
}

.page{
  background-color: white;
  position: relative;
  /*box-sizing: border-box;*/
  page-break-after: always;
  /*border: 1px solid rgba(0, 0, 0, 0.05);*/
  padding: 0;
  margin: 0;
  width: 11in;
  height: 8.5in;
  /*size: 11in 8.5in;*/
  /*height: 213mm; width: 280mm;*/
  margin-bottom: 20px;
  margin-top: 20px;
  /*box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);*/
  overflow: hidden;
}

.left{
  padding: 3rem;
  height: 100%;
  width: 5.5in;
  /*width: 140mm;*/
  box-sizing: border-box;
  /*border-right: 1px dashed rgba(0, 0, 0, 0.5);*/
  float: left;
}

/*.left .itemText p{
  transform: rotate(90deg);
  left: 420px;
  top: 400px;
  position: absolute;
}*/

.right{
  float: left;
  padding: 3rem;
  height: 100%;
  width: 5.5in;
  /*width: 140mm;*/
  /*padding-left: rem;*/
  box-sizing: border-box;
  /*border-right: 1px dotted rgba(0, 0, 0, 0.05);*/
}

.fit{
  height: calc(5.5in - 20px);
  padding-top: 100px;
}

.split{
  width: 1px;
  height: 8.5in;
  position: absolute;
  left: 5.5in;
  border-right: 1px dashed rgba(0, 0, 0, 0.5);
}

.right .connections{
  text-align: right;
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: #ccc;
}

.left .connections{
  text-align: left;
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: #ccc;
}

@page {
  size: Letter landscape;
  margin: 0;
}

@media print {
    @page {
        size: Letter landscape;
        margin: 0px;
    }

    .App{
      padding: 0;
      margin: 0;
    }
     html, body {
         border: 1px solid white;
         height: 99%;
         page-break-after: avoid;
         page-break-before: avoid;
     }

    body{
      padding: 0px;
      margin: 0px;
    }

    .status, .scrape, .command{
      display: none;
    }

    .page{
      margin: 0;
      padding: 0;
      box-sizing: content-box;
      overflow: hidden;
    }

    div > .page{
      /*background-color: green;*/
      display: inherit;;
      /*USE THIS TO ONLY PRINT FIRST PAGE*/
    }

    div > .page ~ .page {
      display: none;
      /*background-color: white;*/
    }
}
